* {
    padding: 0;
    margin: 0;

}

nav {
    padding: none;
    margin: none;
    background: #251111;
    height: 50px;
    width: 100vw;
}

#text {
    margin-left: 20px;
    color: orange;
    font-size: larger;
}

#button {
    background: rgb(219, 117, 80);
    color: #251111;

}

a {
    color: aliceblue;
    font-size: large;
    text-decoration: none;
    margin-right: 200px;
}

a:hover {
    color: chocolate;
}

footer {
    background: #471919;
    color: white;
    height: 100px;
    width: 100vw;
    position: fixed;
    bottom: 0px;
    text-align: center;
}

#st {

    width: 100vw;
    height: 1000px;
    text-align: center;


}

.item1 {
    background-image: url(IMG-20240831-WA0029.jpg);
    background-size: cover;
    margin-top: 10px;
    background-color: rgb(223, 236, 235);
    border: 2px solid black;
    height: 100px;
    width: 100px;
    display: inline-block;
    border-radius: 25%;


}

.item1:hover {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

#photo {
    background-image: url(IMG-20240831-WA0029.jpg);
    background-size: cover;
}

